In [2]:
import numpy as np
import pandas as pd

In [6]:
df=pd.DataFrame(np.arange(0,25).reshape(5,5),index=["index1","index2","index3","index4","index5"],columns=["column1","column2","column3","column4","column5"])

In [7]:
df.head()

        column1  column2  column3  column4  column5
index1        0        1        2        3        4
index2        5        6        7        8        9
index3       10       11       12       13       14
index4       15       16       17       18       19
index5       20       21       22       23       24

In [9]:
df.iloc[:,:]

        column1  column2  column3  column4  column5
index1        0        1        2        3        4
index2        5        6        7        8        9
index3       10       11       12       13       14
index4       15       16       17       18       19
index5       20       21       22       23       24

In [16]:
pwd

'C:\\Users\\gadda'

In [17]:
cd /desktop/csv/

[WinError 3] The system cannot find the path specified: '/desktop/csv/'
C:\Users\gadda

In [19]:
cd /Users/gadda/Downloads/

C:\Users\gadda\Downloads

In [20]:
pwd

'C:\\Users\\gadda\\Downloads'

In [22]:
cd /Users/gadda/Downloads/csv/

[WinError 2] The system cannot find the file specified: '/Users/gadda/Downloads/csv/'
C:\Users\gadda\Downloads

In [23]:
cd /Users/gadda/desktop/csv/

[WinError 2] The system cannot find the file specified: '/Users/gadda/desktop/csv/'
C:\Users\gadda\Downloads

In [24]:
pwd

'C:\\Users\\gadda\\Downloads'

In [25]:
cd /Users/gadda/Downloads/superbowl-history-1967-2020/

C:\Users\gadda\Downloads\superbowl-history-1967-2020

In [29]:
pd.read_csv("superbowl.csv")

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California
5,Feb 1 2015,XLIX (49),New England Patriots,28,Seattle Seahawks,24,Tom Brady,University of Phoenix Stadium,Glendale,Arizona
6,Feb 2 2014,XLVIII (48),Seattle Seahawks,43,Denver Broncos,8,Malcolm Smith,MetLife Stadium,East Rutherford,New Jersey
7,Feb 3 2013,XLVII (47),Baltimore Ravens,34,San Francisco 49ers,31,Joe Flacco,Mercedes-Benz Superdome,New Orleans,Louisiana
8,Feb 5 2012,XLVI (46),New York Giants,21,New England Patriots,17,Eli Manning,Lucas Oil Stadium,Indianapolis,Indiana
9,Feb 6 2011,XLV (45),Green Bay Packers,31,Pittsburgh Steelers,25,Aaron Rodgers,Cowboys Stadium,Arlington,Texas
10,Feb 7 2010,XLIV (44),New Orleans Saints,31,Indianapolis Colts,17,Drew Brees,Sun Life Stadium,Miami Gardens,Florida
11,Feb 1 2009,XLIII (43),Pittsburgh Steelers,27,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida
12,Feb 3 2008,XLII (42),New York Giants,17,New England Patriots,14,Eli Manning,University of Phoenix Stadium,Glendale,Arizona
13,Feb 4 2007,XLI (41),Indianapolis Colts,29,Chicago Bears,17,Peyton Manning,Dolphin Stadium,Miami Gardens,Florida
14,Feb 5 2006,XL (40),Pittsburgh Steelers,21,Seattle Seahawks,10,Hines Ward,Ford Field,Detroit,Michigan
15,Feb 6 2005,XXXIX (39),New England Patriots,24,Philadelphia Eagles,21,Deion Branch,Alltel Stadium,Jacksonville,Florida
16,Feb 1 2004,XXXVIII (38),New England Patriots,32,Carolina Panthers,29,Tom Brady,Reliant Stadium,Houston,Texas
17,Jan 26 2003,XXXVII (37),Tampa Bay Buccaneers,48,Oakland Raiders,21,Dexter Jackson,Qualcomm Stadium,San Diego,California
18,Feb 3 2002,XXXVI (36),New England Patriots,20,St. Louis Rams,17,Tom Brady,Louisiana Superdome,New Orleans,Louisiana
19,Jan 28 2001,XXXV (35),Baltimore Ravens,34,New York Giants,7,Ray Lewis+,Raymond James Stadium,Tampa,Florida
20,Jan 30 2000,XXXIV (34),St. Louis Rams,23,Tennessee Titans,16,Kurt Warner+,Georgia Dome,Atlanta,Georgia
21,Jan 31 1999,XXXIII (33),Denver Broncos,34,Atlanta Falcons,19,John Elway+,Pro Player Stadium,Miami Gardens,Florida
22,Jan 25 1998,XXXII (32),Denver Broncos,31,Green Bay Packers,24,Terrell Davis+,Qualcomm Stadium,San Diego,California
23,Jan 26 1997,XXXI (31),Green Bay Packers,35,New England Patriots,21,Desmond Howard,Louisiana Superdome,New Orleans,Louisiana
24,Jan 28 1996,XXX (30),Dallas Cowboys,27,Pittsburgh Steelers,17,Larry Brown,Sun Devil Stadium,Tempe,Arizona
25,Jan 29 1995,XXIX (29),San Francisco 49ers,49,San Diego Chargers,26,Steve Young+,Joe Robbie Stadium,Miami Gardens,Florida
26,Jan 30 1994,XXVIII (28),Dallas Cowboys,30,Buffalo Bills,13,Emmitt Smith+,Georgia Dome,Atlanta,Georgia
27,Jan 31 1993,XXVII (27),Dallas Cowboys,52,Buffalo Bills,17,Troy Aikman+,Rose Bowl,Pasadena,California
28,Jan 26 1992,XXVI (26),Washington Redskins,37,Buffalo Bills,24,Mark Rypien,Metrodome,Minneapolis,Minnesota
29,Jan 27 1991,XXV (25),New York Giants,20,Buffalo Bills,19,Ottis Anderson,Tampa Stadium,Tampa,Florida
30,Jan 28 1990,XXIV (24),San Francisco 49ers,55,Denver Broncos,10,Joe Montana+,Louisiana Superdome,New Orleans,Louisiana
31,Jan 22 1989,XXIII (23),San Francisco 49ers,20,Cincinnati Bengals,16,Jerry Rice+,Joe Robbie Stadium,Miami Gardens,Florida
32,Jan 31 1988,XXII (22),Washington Redskins,42,Denver Broncos,10,Doug Williams,Jack Murphy Stadium,San Diego,California
33,Jan 25 1987,XXI (21),New York Giants,39,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena,California
34,Jan 26 1986,XX (20),Chicago Bears,46,New England Patriots,10,Richard Dent+,Louisiana Superdome,New Orleans,Louisiana
35,Jan 20 1985,XIX (19),San Francisco 49ers,38,Miami Dolphins,16,Joe Montana+,Stanford Stadium,Palo Alto,California
36,Jan 22 1984,XVIII (18),Los Angeles Raiders,38,Washington Redskins,9,Marcus Allen+,Tampa Stadium,Tampa,Florida
37,Jan 30 1983,XVII (17),Washington Redskins,27,Miami Dolphins,17,John Riggins+,Rose Bowl,Pasadena,California
38,Jan 24 1982,XVI (16),San Francisco 49ers,26,Cincinnati Bengals,21,Joe Montana+,Pontiac Silverdome,Pontiac,Michigan
39,Jan 25 1981,XV (15),Oakland Raiders,27,Philadelphia Eagles,10,Jim Plunkett,Louisiana Superdome,New Orleans,Louisiana
40,Jan 20 1980,XIV (14),Pittsburgh Steelers,31,Los Angeles Rams,19,Terry Bradshaw+,Rose Bowl,Pasadena,California
41,Jan 21 1979,XIII (13),Pittsburgh Steelers,35,Dallas Cowboys,31,Terry Bradshaw+,Orange Bowl,Miami,Florida
42,Jan 15 1978,XII (12),Dallas Cowboys,27,Denver Broncos,10,Harvey MartinRandy White+,Superdome,New Orleans,Louisiana
43,Jan 9 1977,XI (11),Oakland Raiders,32,Minnesota Vikings,14,Fred Biletnikoff+,Rose Bowl,Pasadena,California
44,Jan 18 1976,X (10),Pittsburgh Steelers,21,Dallas Cowboys,17,Lynn Swann+,Orange Bowl,Miami,Florida
45,Jan 12 1975,IX (9),Pittsburgh Steelers,16,Minnesota Vikings,6,Franco Harris+,Tulane Stadium,New Orleans,Louisiana
46,Jan 13 1974,VIII (8),Miami Dolphins,24,Minnesota Vikings,7,Larry Csonka+,Rice Stadium,Houston,Texas
47,Jan 14 1973,VII (7),Miami Dolphins,14,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California
48,Jan 16 1972,VI (6),Dallas Cowboys,24,Miami Dolphins,3,Roger Staubach+,Tulane Stadium,New Orleans,Louisiana
49,Jan 17 1971,V (5),Baltimore Colts,16,Dallas Cowboys,13,Chuck Howley,Orange Bowl,Miami,Florida
50,Jan 11 1970,IV (4),Kansas City Chiefs,23,Minnesota Vikings,7,Len Dawson+,Tulane Stadium,New Orleans,Louisiana
51,Jan 12 1969,III (3),New York Jets,16,Baltimore Colts,7,Joe Namath+,Orange Bowl,Miami,Florida
52,Jan 14 1968,II (2),Green Bay Packers,33,Oakland Raiders,14,Bart Starr+,Orange Bowl,Miami,Florida
53,Jan 15 1967,I (1),Green Bay Packers,35,Kansas City Chiefs,10,Bart Starr+,Memorial Coliseum,Los Angeles,California

In [28]:
df.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [30]:
df=pd.read_csv('superbowl.csv')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 10 columns):
Date          54 non-null object
SB            54 non-null object
Winner        54 non-null object
Winner Pts    54 non-null int64
Loser         54 non-null object
Loser Pts     54 non-null int64
MVP           54 non-null object
Stadium       54 non-null object
City          54 non-null object
State         54 non-null object
dtypes: int64(2), object(8)
memory usage: 4.3+ KB

In [33]:
df.describe()

       Winner Pts  Loser Pts
count   54.000000  54.000000
mean    30.111111  16.203704
std      9.766455   7.413348
min     13.000000   3.000000
25%     23.250000  10.000000
50%     30.500000  17.000000
75%     35.000000  21.000000
max     55.000000  33.000000

In [34]:
df.isnull()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,False

In [35]:
df.isnull().sum()

Date          0
SB            0
Winner        0
Winner Pts    0
Loser         0
Loser Pts     0
MVP           0
Stadium       0
City          0
State         0
dtype: int64

In [43]:
df['Winner'].unique()

array(['Kansas City Chiefs', 'New England Patriots',
       'Philadelphia Eagles', 'Denver Broncos', 'Seattle Seahawks',
       'Baltimore Ravens', 'New York Giants', 'Green Bay Packers',
       'New Orleans Saints', 'Pittsburgh Steelers', 'Indianapolis Colts',
       'Tampa Bay Buccaneers', 'St. Louis Rams', 'Dallas Cowboys',
       'San Francisco 49ers', 'Washington Redskins', 'Chicago Bears',
       'Los Angeles Raiders', 'Oakland Raiders', 'Miami Dolphins',
       'Baltimore Colts', 'New York Jets'], dtype=object)

In [46]:
df['Winner'].value_counts()

Pittsburgh Steelers     6
New England Patriots    6
San Francisco 49ers     5
Dallas Cowboys          5
New York Giants         4
Green Bay Packers       4
Washington Redskins     3
Denver Broncos          3
Kansas City Chiefs      2
Miami Dolphins          2
Baltimore Ravens        2
Oakland Raiders         2
Seattle Seahawks        1
St. Louis Rams          1
Baltimore Colts         1
Tampa Bay Buccaneers    1
New York Jets           1
Chicago Bears           1
New Orleans Saints      1
Los Angeles Raiders     1
Philadelphia Eagles     1
Indianapolis Colts      1
Name: Winner, dtype: int64

In [54]:
df[df["Winner Pts"]>35]

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
6,Feb 2 2014,XLVIII (48),Seattle Seahawks,43,Denver Broncos,8,Malcolm Smith,MetLife Stadium,East Rutherford,New Jersey
17,Jan 26 2003,XXXVII (37),Tampa Bay Buccaneers,48,Oakland Raiders,21,Dexter Jackson,Qualcomm Stadium,San Diego,California
25,Jan 29 1995,XXIX (29),San Francisco 49ers,49,San Diego Chargers,26,Steve Young+,Joe Robbie Stadium,Miami Gardens,Florida
27,Jan 31 1993,XXVII (27),Dallas Cowboys,52,Buffalo Bills,17,Troy Aikman+,Rose Bowl,Pasadena,California
28,Jan 26 1992,XXVI (26),Washington Redskins,37,Buffalo Bills,24,Mark Rypien,Metrodome,Minneapolis,Minnesota
30,Jan 28 1990,XXIV (24),San Francisco 49ers,55,Denver Broncos,10,Joe Montana+,Louisiana Superdome,New Orleans,Louisiana
32,Jan 31 1988,XXII (22),Washington Redskins,42,Denver Broncos,10,Doug Williams,Jack Murphy Stadium,San Diego,California
33,Jan 25 1987,XXI (21),New York Giants,39,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena,California
34,Jan 26 1986,XX (20),Chicago Bears,46,New England Patriots,10,Richard Dent+,Louisiana Superdome,New Orleans,Louisiana
35,Jan 20 1985,XIX (19),San Francisco 49ers,38,Miami Dolphins,16,Joe Montana+,Stanford Stadium,Palo Alto,California
36,Jan 22 1984,XVIII (18),Los Angeles Raiders,38,Washington Redskins,9,Marcus Allen+,Tampa Stadium,Tampa,Florida

In [56]:
from io import StringIO, BytesIO

In [57]:
data =("col1,col2,col3\n"
      "x,y,1\n"
      "a,b,2\n"
      "c,d,3\n")

In [58]:
type(data)

str

In [59]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [60]:
pd.read_csv(StringIO(data),usecols=['col1'])

  col1
0    x
1    a
2    c